@import './colors.scss';

table {
    padding: 10px;
    color: white;
    width: 100%;

    th, td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    th {
        text-align: left;
    }

    th:last-child, td:last-child {
        text-align: right;
    }

    tr {
        td:nth-child(2) {
            padding-left: 10px;
        }
    }

    .account-sidebar-header {
        .caret {
            cursor: pointer;
        }

    }
}

.modal-wrapper {
    h2 {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    hr {
        margin-bottom: 20px;
    }

    label {
        display: block;
    }

    .modal-closer {
        color: $accent-primary;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}