@import './colors.scss';

$default-p-font-size: 14px;

html {
  font-size: $default-p-font-size;
  background-color: $dark-primary;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.app-wrapper {
  display: flex;
}

.account-bar-wrapper {
  width: 400px;
  overflow: scroll; 
  overflow-x:hidden;
  height: 100vh;
}