.budget-table {
  margin: 50px;
  width: 100%;
  text-align: left;
}

.budget-wrapper {
  list-style: none;
  padding: 0px;
}

.budget-category-header{
  background-color: #4dabf5;
  padding: 10px;
  color: white;
}

