$default-table-padding: 40px;
$dark-primary: #263238;
$dark-secondary: #37474f;
$accent-primary:  #4495d7;

$tooltip-text-color: white;
$tooltip-background-color: black;


$positive-budget: #b5e08a;
$negative-budget: #F44336;
$neutral-budget: #BDBDBD;