$default-table-padding: 40px;
$dark-primary: #1b1b1d;
$dark-secondary: #2c2c2e;
$accent-primary:  #4495d7;

$tooltip-text-color: white;
$tooltip-background-color: black;

$modal-background-primary: #2c2c2e;


$positive-budget: #b5e08a;
$negative-budget: #F44336;
$neutral-budget: #BDBDBD;